[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-kivy"]
	path = bundle/vim-kivy
	url = https://github.com/shenek/vim-kivy.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "bundle/restore_view.vim"]
	path = bundle/restore_view.vim
	url = git@github.com:vim-scripts/restore_view.vim.git
